.footerlinks{
    color:#ffffff;
}

    .footerlinks:hover {
        color: #ffd800;
        text-decoration: none !important;
    }

#footer1 {
    background: #962B00;
}

#footer2 {
    background: #954B00;
}